In [8]:
import pandas as pd
import sys
import re
import requests
import os
import numpy as np

import streamlit as st
import openai
from openai.embeddings_utils import get_embedding, cosine_similarity
from openai.embeddings_utils import distances_from_embeddings
import os

os.environ["OPENAI_API_TYPE"] = "azure"
os.environ["OPENAI_API_KEY"] = "xxx"
os.environ["OPENAI_API_BASE"] = "xxx"
os.environ["OPENAI_API_VERSION"] = "2022-12-01"

In [11]:
# Import Azure OpenAI
from langchain.llms import AzureOpenAI
import openai

llm = AzureOpenAI(deployment_name="text-davinci-003", model_name="text-davinci-003")
# Run the LLM
print(llm("Tell me a joke"))

Q: What did the fish say when it hit the wall?
A: Dam!

In [19]:
import pyodbc
import pandas as pd


cnxn = pyodbc.connect("Driver={ODBC Driver 18 for SQL Server};Server=tcp:vaalt.database.windows.net,1433;Database=vaalt1;Uid=vaalt;Pwd=Lardosa!12;Encrypt=yes;TrustServerCertificate=no;")
cursor = cnxn.cursor()
# select 10 rows from SQL table to insert in dataframe.
query = "select * from [SalesLT].[Address];"
df = pd.read_sql(query, cnxn)
df.head(10)

c:\Users\vaalt\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   AddressID         AddressLine1 AddressLine2      City     StateProvince  \
0          9    8713 Yosemite Ct.         None   Bothell        Washington
1         11  1318 Lasalle Street         None   Bothell        Washington
2         25     9178 Jumping St.         None    Dallas             Texas
3         28     9228 Via Del Sol         None   Phoenix           Arizona
4         32    26910 Indela Road         None  Montreal            Quebec
5        185      2681 Eagle Peak         None  Bellevue        Washington
6        297      7943 Walnut Ave         None    Renton        Washington
7        445   6388 Lake City Way         None   Burnaby  British Columbia
8        446    52560 Free Street         None   Toronto           Ontario
9        447    22580 Free Street         None   Toronto           Ontario

   CountryRegion PostalCode                               rowguid ModifiedDate
0  United States      98011  268AF621-76D7-4C78-9441-144FD139821A   2006-07-01
1  United States      98011  981B3303-ACA2-49C7-9A96-FB670785B269   2007-04-01
2  United States      75201  C8DF3BD9-48F0-4654-A8DD-14A67A84D3C6   2006-09-01
3  United States      85004  12AE5EE1-FC3E-468B-9B92-3B970B169774   2005-09-01
4         Canada    H1Y 2H5  84A95F62-3AE8-4E7E-BBD5-5A6F00CD982D   2006-08-01
5  United States      98004  7BCCF442-2268-46CC-8472-14C44C14E98C   2006-09-01
6  United States      98055  52410DA4-2778-4B1D-A599-95746625CE6D   2006-08-01
7         Canada    V5A 3A6  53572F25-9133-4A8B-A065-102FF35416EE   2006-09-01
8         Canada    M4B 1V7  801A1DFC-5125-486B-AA84-CCBD2EC57CA4   2005-08-01
9         Canada    M4B 1V7  88CEE379-DBB8-433B-B84E-A35E09435500   2006-08-01

In [20]:
df.head(10)

,AddressID,AddressLine1,AddressLine2,City,StateProvince,CountryRegion,PostalCode,rowguid,ModifiedDate
0,9,8713 Yosemite Ct.,None,Bothell,Washington,United States,98011,268AF621-76D7-4C78-9441-144FD139821A,2006-07-01
1,11,1318 Lasalle Street,None,Bothell,Washington,United States,98011,981B3303-ACA2-49C7-9A96-FB670785B269,2007-04-01
2,25,9178 Jumping St.,None,Dallas,Texas,United States,75201,C8DF3BD9-48F0-4654-A8DD-14A67A84D3C6,2006-09-01
3,28,9228 Via Del Sol,None,Phoenix,Arizona,United States,85004,12AE5EE1-FC3E-468B-9B92-3B970B169774,2005-09-01
4,32,26910 Indela Road,None,Montreal,Quebec,Canada,H1Y 2H5,84A95F62-3AE8-4E7E-BBD5-5A6F00CD982D,2006-08-01
5,185,2681 Eagle Peak,None,Bellevue,Washington,United States,98004,7BCCF442-2268-46CC-8472-14C44C14E98C,2006-09-01
6,297,7943 Walnut Ave,None,Renton,Washington,United States,98055,52410DA4-2778-4B1D-A599-95746625CE6D,2006-08-01
7,445,6388 Lake City Way,None,Burnaby,British Columbia,Canada,V5A 3A6,53572F25-9133-4A8B-A065-102FF35416EE,2006-09-01
8,446,52560 Free Street,None,Toronto,Ontario,Canada,M4B 1V7,801A1DFC-5125-486B-AA84-CCBD2EC57CA4,2005-08-01
9,447,22580 Free Street,None,Toronto,Ontario,Canada,M4B 1V7,88CEE379-DBB8-433B-B84E-A35E09435500,2006-08-01

In [21]:
from langchain.agents import create_pandas_dataframe_agent
agent = create_pandas_dataframe_agent(llm, df, verbose=True)
agent.run("how many rows are there?")

> Entering new AgentExecutor chain...
Thought: I need to find out how many rows are in the dataframe
Action: python_repl_ast
Action Input: df.shape[0]
Observation: 450
Thought: I now know the final answer
Final Answer: There are 450 rows.

> Finished chain.

'There are 450 rows.'

In [22]:
agent.run("how many unique state provinces are there?")

> Entering new AgentExecutor chain...
Thought: I need to know the unique values in the 'StateProvince' column
Action: python_repl_ast
Action Input: df['StateProvince'].nunique()
Observation: 25
Thought: I now know the final answer
Final Answer: 25

> Finished chain.

'25'

In [23]:
agent.run("list the name of unique cities")

> Entering new AgentExecutor chain...
Thought: I need to filter out the unique cities
Action: python_repl_ast
Action Input: df.City.unique()
Observation: ['Bothell' 'Dallas' 'Phoenix' 'Montreal' 'Bellevue' 'Renton' 'Burnaby'
 'Toronto' 'Chalk Riber' 'Quebec' 'Calgary' 'Weston' 'Vancouver' 'Ottawa'
 'Etobicoke' 'Markham' 'Pnot-Rouge' 'Richmond' 'Surrey' 'Scarborough'
 'Hull' 'Brossard' 'Barrie' 'Sainte-Foy' 'Winnipeg' 'Saint John'
 'Mississauga' 'Victoria' 'Waterloo' 'Edmonton' 'Kingston' 'Outremont'
 'Richmond Hill' 'Brampton' "Ville De'anjou" 'North York' 'Kanata'
 'Sillery' 'Nepean' 'Aurora' 'Dorval' 'Irving' 'Austin' 'North Sioux City'
 'Edina' 'Laredo' 'West Chicago' 'Chicago' 'Garland' 'Wood Dale'
 'Round Rock' 'Fort Worth' 'Elgin' 'Carol Stream' 'Carrollton' 'Plano'
 'Saint Louis' 'Jefferson City' 'Houston' 'Duluth' 'Baytown' 'Peoria'
 'San Antonio' 'Humble' 'Moline' 'Saint Ann' 'Ferguson' 'Killeen' 'Joliet'
 'Racine' 'Corpus Christi' 'College Station' 'Milwaukee' 'Denby'
 'Norridge' 'Cedar Park' 'Mesquite' 'Stafford' 'Hillsboro' 'Johnson Creek'
 'Kansas City' 'Sugar Land' 'Woodbury' 'Branch' 'Branson' 'Mosinee'
 'La Marque' 'Tuscola' 'Minneapolis' 'Arlington' 'Odessa' 'Medford'
 'London' 'Warrington' 'Gloucestershire' 'Milton Keynes' 'Wokingham'
 'W. York' 'Liverpool' 'Oxon' 'Lancaster' 'Basingstoke Hants'
 'High Wycombe' 'Reading' 'Abingdon' 'West Sussex' 'York' 'Berkshire'
 'Birmingham' 'Bracknell' 'Woolston' 'Maidenhead' 'Berks' 'Oxford'
 'Cambridge' 'Zeeland' 'Pontiac' 'Novi' 'Southfield' 'Madison Heights'
 'Westland' 'Southgate' 'Detroit' 'Saginaw' 'Midland' 'Holland' 'Monroe'
 'Redford' 'Port Huron' 'Howell' 'Seattle' 'Kent' 'Puyallup' 'Billings'
 'Portland' 'North Bend' 'Beaverton' 'Woodinville' 'Issaquah'
 'Idaho Falls' 'Redmond' 'Wenatchee' 'Klamath Falls' 'Troutdale'
 'Clackamas' 'Milwaukie' 'Port Orchard' 'Shelton' 'Longview' 'Lynnwood'
 'Washougal' 'Tacoma' 'Bellingham' 'Everett' 'Ellensburg' 'Sequim'
 'Spokane' 'Cheyenne' 'Sandpoint' 'Union Gap' 'Lacey' 'Missoula' 'Albany'
 'Chehalis' 'Kennewick' 'Salem' 'Lewiston' 'Kelso' 'Casper' 'Great Falls'
 'Kirkland' 'Rock Springs' 'Springfield' 'Federal Way' 'Tigard' 'Fremont'
 'Camarillo' 'Salt Lake City' 'San Ramon' 'Union City' 'El Segundo'
 'Milpitas' 'Newport Beach' 'Visalia' 'Hayward' 'Fullerton' 'San Diego'
 'Ontario' 'Greeley' 'Pleasanton' 'Santa Ana' 'Newark' 'Fontana'
 'San Francisco' 'Sparks' 'Westminster' 'Modesto' 'Stockton' 'Culver City'
 'Carson' 'Bell Gardens' 'Fernley' 'San Jose' 'Santa Fe' 'Cerritos'
 'Monrovia' 'Torrance' 'Chandler' 'Las Cruces' 'Denver' 'Englewood'
 'Santa Monica' 'Orange' 'Canoga Park' 'Escondido' 'Sacramento'
 'Simi Valley' 'Lakewood' 'Oxnard' 'Alhambra' 'Park City' 'Vista' 'Upland'
 'El Cajon' 'Downey' 'Hanford' 'Vacaville' 'Loveland' 'Barstow'
 'City Of Commerce' 'Redlands' 'San Ysidro' 'Gilroy' 'Las Vegas'
 'Lake Elsinore' 'Norwalk' 'Sherman Oaks' 'Whittier' 'Tucson' 'Alpine'
 'Irvine' 'Mesa' 'Eureka' 'Baldwin Park' 'Citrus Heights' 'Trabuco Canyon'
 'San Mateo' 'Longmont' 'Parker' 'Elk Grove' 'San Bruno' 'Walnut Creek'
 'Gilbert' 'North Las Vegas' 'Rio Rancho' 'Van Nuys' 'Surprise'
 'Sand City' 'Sandy' 'La Mesa' 'Auburn' 'Scottsdale' 'Reno' 'Ogden'
 'Bountiful' 'Daly City' 'Riverton' 'Tooele' 'Cedar City']
Thought: I now know the final answer
Final Answer: The names of the unique cities are: Bothell, Dallas, Phoenix, Montreal, Bellevue, Renton, Burnaby, Toronto, Chalk Riber, Quebec, Calgary, Weston, Vancouver, Ottawa, Etobicoke, Markham, Pnot-Rouge, Richmond, Surrey, Scarborough, Hull, Brossard, Barrie, Sainte-Foy, Winnipeg, Saint John, Mississauga, Victoria, Waterloo, Edmonton, Kingston, Outremont, Richmond Hill, Brampton, Ville De'anjou, North York, Kanata, Sillery, Nepean, Aurora, Dorval, Irving, Austin, North Sioux City, Edina, Laredo, West Chicago, Chicago, Garland, Wood Dale, Round Rock, Fort Worth, Elgin, Carol Stream, Carrollton, Plano, Saint Louis, Jefferson City, Houston, Duluth, Baytown, Peoria, San Antonio, Humble, Moline, Saint Ann, Ferguson, Killeen, Joliet, Racine, Corpus Christi, College Station, Milwaukee, Denby, Norridge, Cedar Park, Mesquite, Stafford, Hillsboro, Johnson Creek, Kansas City

> Finished chain.

"The names of the unique cities are: Bothell, Dallas, Phoenix, Montreal, Bellevue, Renton, Burnaby, Toronto, Chalk Riber, Quebec, Calgary, Weston, Vancouver, Ottawa, Etobicoke, Markham, Pnot-Rouge, Richmond, Surrey, Scarborough, Hull, Brossard, Barrie, Sainte-Foy, Winnipeg, Saint John, Mississauga, Victoria, Waterloo, Edmonton, Kingston, Outremont, Richmond Hill, Brampton, Ville De'anjou, North York, Kanata, Sillery, Nepean, Aurora, Dorval, Irving, Austin, North Sioux City, Edina, Laredo, West Chicago, Chicago, Garland, Wood Dale, Round Rock, Fort Worth, Elgin, Carol Stream, Carrollton, Plano, Saint Louis, Jefferson City, Houston, Duluth, Baytown, Peoria, San Antonio, Humble, Moline, Saint Ann, Ferguson, Killeen, Joliet, Racine, Corpus Christi, College Station, Milwaukee, Denby, Norridge, Cedar Park, Mesquite, Stafford, Hillsboro, Johnson Creek, Kansas City"

In [24]:
agent.run("what is the frequency of each country region?")

> Entering new AgentExecutor chain...
Thought: I need to find out how many times each country region appears in the dataframe
Action: python_repl_ast
Action Input: df['CountryRegion'].value_counts()
Observation: United States     295
Canada            115
United Kingdom     40
Name: CountryRegion, dtype: int64
Thought: I now know the final answer
Final Answer: United States: 295, Canada: 115, United Kingdom: 40

> Finished chain.

'United States: 295, Canada: 115, United Kingdom: 40'